body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

header {
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

p,
h4 {
    text-align: justify;
}

.logo {
    height: 30px;
}

.btn img {
    height: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background: #FA541CFF;
}

.nav-link,
a {
    color: #FA541CFF;
}

.nav-link:hover,
a:hover {
    color: #FA531CBE !important;
}

.btn-primary {
    background: #FA541CFF;
    border-color: #FA531CBE;
}

.btn-primary:visited,
.btn-primary:focus,
.btn-primary:after {
    background: #FA541CFF;
    border-color: #FA531CBE;
}

.btn-primary:hover {
    background: #FA531CBE;
    border-color: #FA541CFF;
    color: white !important;
}

.btn-outline-primary {
    color: #FA531CBE;
    border-color: #FA531CBE;
}

.btn-outline-primary:hover {
    background: #FA531CBE;
    border-color: #FA541CFF;
}

.text-primary {
    color: #FA541CFF !important;
}

.bg-primary {
    background-color: #FA541CFF !important;
}

.border-primary {
    border-color: #FA541CFF !important;
}

.section {
    padding: 100px 0;
    position: relative;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.feature p {
    text-align: justify;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 0.75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}
.icon-link > .bi {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    transition: transform 0.25s ease-in-out;
    fill: currentColor;
}
.icon-link:hover > .bi {
    transform: translate(0.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}

.rounded-4 {
    border-radius: 0.5rem;
}
.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
    text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bd-footer a {
    color: #495057;
    text-decoration: none;
}
.bd-footer a:hover,
.bd-footer a:focus {
    color: #0d6efd;
    text-decoration: underline;
}

.icon {
    font-size: 22px;
}

.nav-link i {
    font-size: 20px;
}

.nav-link.active:hover {
    color: white !important;
}

.my-6 {
    margin: 24px 0 !important;
}
.mb-6 {
    margin-bottom: 24px !important;
}
.mt-6 {
    margin-top: 24px !important;
}

.py-6 {
    padding: 24px 0 !important;
}
.pb-6 {
    padding-bottom: 24px !important;
}
.pt-6 {
    padding-top: 24px !important;
}
